html {
    font-family: $plain-text;
    font-size: $font-size-base;

    body {
        background-color: #ffffff;
        color: $font-color;
        position: relative;
        height: 100vh;

        header {
            p {
                font-family: $body-text1;
                font-style: italic;
                margin: 1.2em 0 2.2em;
                line-height: 1.4;
            }
        }

        .img-wrapper {
            position: absolute;
            top: 0;
            left: 0;

            img {
                max-width: 253px;
                width: 100%;
            }
        }

        h1 {
            font-family: $body-text1;
            font-size: 2.2em;
            line-height: 1.2;
            letter-spacing: 1px;
            color: #263746;

            span {
                color: #25b34b;
            }
        }

        .container-fluid {
            display: flex;
            flex-direction: row;
            max-width: 1300px;
            margin: 0 auto;

            .inner-container {

                &:first-child {
                    width: 100%;
                    max-width: 840px;
                    padding-left: 253px;
                    padding-top: 7em;
                    padding-right: 2em;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    form {
        margin-bottom: 1rem;
        max-width: 545px;
    }

    input::-webkit-input-placeholder {color:$grey;}
    input::-moz-placeholder {color:$grey;}/* Firefox 19+ */
    input:-moz-placeholder  {color:$grey;}/* Firefox 18- */
    input:-ms-input-placeholder {color:$grey;}


    %form-field {
        box-sizing: border-box;
        font-family: $plain-text;
        font-size: 1rem;
        border-radius: 0px;
        box-shadow: none;
        border: 1px solid $grey;
        padding: 0.9rem 1.2em;
        text-align: left;
        width: 100%;
        margin: 0.5rem auto;
    }

    .form-input {
        @extend %form-field;
    }

    .form-submit {
        @extend %form-field;
        background-color: #25b34b;
        color: #ffffff;
        text-align: center;
        border: 0;
    }

    .small-txt {
        font-size: 0.7em;
        line-height: 1.2;
        padding: 1em 0;
    }
}
